services:
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: atul
      POSTGRES_PASSWORD: atul@12345
      POSTGRES_DB: mainapp
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
